:root {
    
    --font-size:1.25rem;
    --font-size2:1rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    color: white;
  }

  body{
    background-color:  rgb(32, 44, 55);
  }
  header{
    height: 3.25rem;
    font-size: var(--font-size2);
    background-color:hsl(209, 23%, 22%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header div{
    padding: 1rem;
    padding-right: 10rem;
  }
  header div strong{
    font-size: var(--font-size);
    padding-left: 10rem;
  }
  .light-body{
    background-color:hsl(0, 0%, 98%)
  }
  .light-text{
    background-color: hsl(200, 15%, 8%);
  }
  .light-input{
    background-color:  hsl(0, 0%, 52%);
  }
main{
    padding: 3rem 9rem 3rem 9rem;
}

  #head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #head input{
    background-color: hsl(209, 23%, 22%);
    height: 2.5rem;
    width: 18rem;
    border: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
  }
  #head select{
    background-color: hsl(209, 23%, 22%);
    height: 2.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0;
  }
 .content{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 1.5rem;

 }
 ol,.div{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:hsl(209, 23%, 22%) ;
    border-radius: 0.3rem;
 }
 .detail{
    width: 40rem;
    height: 13.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:hsl(209, 23%, 22%) ;
    border-radius: 0.3rem;
 }
 img{
    height: 5.5rem;
    border-radius: 0.3rem 0.3rem 0 0;
 }
 .img{
    width: 20rem;
    height: 13.5rem;
 }
 li{
    font-family: 'Nunito Sans';
    font-size: 0.75rem;
    padding:0.1rem 1rem ;
 }

.button{
    background-color: hsl(209, 23%, 22%);
    height: 2.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0;
    margin: 1rem 0;
  }
  